
bin/
obj/
publish/
*.dll
*.exe
*.pdb
*.cache
*.log

appsettings.Development.json
secrets.json
.env
.env.local


node_modules/
dist/
build/
npm-debug.log*
yarn-error.log*
yarn-debug.log*


*.mdf
*.ldf
*.sqlite
*.db
*.bak


*.DS_Store
Thumbs.db
*.swp
